@use '_core' as core;
@use '_colour' as col;


@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1 };
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0 };
}

@keyframes colshift {
    0% { fill: col.$c-white; }
    100% { fill: col.$c-black; };
}

@keyframes hide {
    100% {
        display: none;
    }
}

$introlen: 5s;

.cssintro {
    display:flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: white;
    // visibility: hidden;

    & .paint {
        position: absolute;
        height: 30rem;
        width: 30rem;
    }

    & .mjlogo {
        fill: white;
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;

        // animation: fadeout;
        // animation-delay: $introlen;
        // animation-duration: 2s;
        // animation-iteration-count: 1;
        // animation-fill-mode: forwards;
        // animation: fadeout $introlen 2s 1 forwards;
    }

    & .flags {
        display: flex;
        margin: auto;
        z-index: 101;
        position: relative;
        // animation: fadein;
        // animation-delay: $introlen;
        // animation-duration: 2s;
        // animation-iteration-count: 1;
        // animation-fill-mode: forwards;
        // animation: fadein $introlen 2s 1 forwards;
        opacity: 0;

        &__container {
            width: 8rem;
            height: 5rem;
            overflow: hidden;
            position: relative;
            margin: 1rem;

            & img {
                width: 10rem;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
            }
        }
    }
}


$ncirc: 2;
$color: hsl(0, 100%, 23%);

.spinner {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: calc(50% - 50px);
//   visibility: hidden;
  z-index: 1001;
}
    
.circle{
  width: 100%;
  height: 100%;
  position: absolute;
  .inner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid transparentize($color, 0.3);
    border-right: none;
    border-top: none;
    // background-clip: padding;
    box-shadow: inset 0px 0px 10px transparentize($color, 0.85);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg); 
}
  to {
    transform: rotate(360deg);
  }
}

@for $i from 0 through $ncirc {
  .circle:nth-of-type(#{$i}) {
    transform: rotate($i * 70deg);

    .inner {
      animation: spin 2s infinite linear;
    }
  }
}
.spinner {
    animation: spin 5s infinite linear;

    &__bg {
        position: fixed;
        background: col.$c-primary;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
    }
}

#loader {
    background: red;
    position: absolute;
    top: -500vh;
    left: -500vw;
    // top: 0;
    // left: 0;
}

.thankyou {
    font-size: 8rem;
    &--en {
        animation: fadeout 4s 2s 1 forwards;
    }
    &--pl {
        opacity: 0;
        animation: fadein 4s 2s 1 forwards;
    }
}