// Setup Sass Variables:
$transparent: var(--c-transparent);
$c-white: var(--c-white);
$c-light: var(--c-light);
$c-black: var(--c-black);

$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$c-bg: var(--c-bg);
$c-bg2: var(--c-secondaryalpha);


// Define actual colours as CSS variables:
body {
    --c-transparent:    hsla(0, 0%, 100%, 0);
    --c-white:          hsl(0, 0%, 100%);
    --c-light:          hsl(0, 0%, 73%);
    --c-black:          hsl(0, 100%, 8%);

    --c-sitebg:         rgb(232, 235, 255);
    --c-primary:        hsl(221, 100%, 80%);
    --c-secondary:      hsl(0, 100%, 23%);
    --c-bg:             hsla(0, 0%, 100%, 40%);
    --c-secondaryalpha: hsla(0, 100%, 23%, 20%);
}