@use '_core' as core;
@import 'colour';
// @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Bitter:wght@300;400;500;600&family=Comforter&family=Comforter+Brush&family=Readex+Pro:wght@200;300;400;500&display=swap');
$f-header: 'Comforter', serif;
$f-text: 'Bitter', serif;
$f-number: 'Alegreya', serif;
$f-accent: 'Readex Pro', sans-serif;

html, body, p {
    font-family: $f-text;
    font-size: 16px;
    font-weight: 400;
}

// @media only screen and (max-width: core.$mobilebreak) {
//     body, p {
//         font-size: 20px;
//     }
// }

p, a {
    color: $c-black;
}

h1, h2 {
    font-family: $f-header;
    font-weight: 600;
    color: $c-secondary;
    margin: 1rem 0;
    line-height: 3.5rem;
    text-align: center;
}

h3, h4, h5, h6, .heading {
    font-family: $f-header;
    color: $c-black;
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}