
@use '_core' as core;
@use '_colour' as col;
@use '_fonts' as f;

.mjlogo {
    fill: col.$c-black;
    width: 20rem;
    margin: auto;
    // padding: 2rem 0 6rem 0;
}

header, .header {
    display: flex;
    margin: 1rem;
    margin-bottom:0;
    background: col.$c-bg;
    padding-bottom: 6rem;
    position: relative;
    
    @media only screen and (min-width: core.$mobilebreak) {
        max-width: core.$pagewidth;
        width: 100%;
        margin: 1rem auto;
    }

    &__logo {
        display:flex;
        order: -1;
        width: 100%;
        margin-top: 2rem;
    }

    &__dateplace {
        position: absolute;
        left: 50%;
        transform: translateX(-20%);
        bottom: 0;

    }
    &__date {
        font-family: f.$f-number;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        position: absolute;
        top: -1rem;
        left: 40%;
        transform: translatex(-50%)
    }
    &__place {
        font-size: 1.5rem;
        position: absolute;
        top: 2rem;
        left: 40%;
        transform: translatex(-50%)
    }

}