
@use '_core' as core;
@use '_colour' as col;
@use '_fonts';

header, .header {
    display: flex;
    padding: 0 0 0 0;
    margin: 0 auto 1rem auto;
    background: col.$c-bg;
    width: 80%;
    min-height: 10rem;

    &--logospace {
        display:flex;
        width: 16rem;
        // background: red;
        // padding-bottom: 15rem;
    }

    &--l, &--r {
        display:flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: fonts.$f-accent;
        font-size: 2rem;
        color: col.$c-secondary;
        padding: 1rem;
        opacity: 0.6;
        text-align: center;

        animation-name: pulse;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    &--r { animation-delay: 300ms }
}

.mjlogo {
    fill: col.$c-secondary;
    width: 20rem;
    margin: auto;
    padding: 2rem 0 2rem 0;
}

@media only screen and (max-width: core.$mobilebreak) {
    header, .header {
        width: 90%;
        flex-wrap: wrap;
        padding-bottom: 1rem;

        >*{
            width: 100%;
            
        }

        &--logospace {
            order: -1;
            width: 100%;
            // margin-bottom: 1rem;
        }

        &--l, &--r {
            font-size: 1.5rem;
            padding: 0 1rem;
            // background: col.$c-primary;
        }
    }
}