@use '_colour' as col;
@use '_core' as core;
@use '_animations';

$introsize: 100%;

.intro {
    @include core.abscenter();
    width: 100%;
    height: 100vh;
    z-index: 10;
    // background: red;
    // animation-name: displaynone;
    // animation-fill-mode: forwards;
    // animation-delay: 7s;

    &__logo {
        @include core.abscenter();

        fill: col.$c-white;
        width: 90%;

        animation-name: colshift, fadeout;
        animation-duration: 2s, 1s;
        animation-fill-mode: forwards, forwards;
        animation-delay: 2s, 5s;
    }

    &__text {
        @include core.abscenter();
        top: 10%;
        color: col.$c-secondary;
        opacity: 0;

        width: 24ch;
        white-space: nowrap;
        overflow: hidden;

        animation-name: fadein, typing, fadeout;
        animation-duration: 1s, 1s, 1s;
        animation-timing-function: linear, steps(22), linear;
        animation-fill-mode: forwards, forwards, forwards;
        animation-delay: 2s, 2s, 5s;

        @keyframes typing {
            from {
                width: 0;
            }
        }
    }
}

@media only screen and (max-width: core.$mobilebreak) {
    .intro {
        &__text {
            font-size: 5vw;
            top: calc(50% - 35vw);

        }
    }
}