@use '_colour' as col;
@use '_fonts' as f;
@use 'sass:math';

@use '_ink-modal';
@use '_animations';
@use '_core' as core;
@use '_logo';
@use '_header';
@use '_backgroundImages';

@mixin wider {
    display:flex;
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-right: -2rem;
}

@mixin border {
    border: solid 0.25rem col.$c-secondary;
    @media only screen and (max-width: core.$tinybreak) {
        border-left: none;
        border-right: none;
    }

}

.wider {
    @include wider;
    @include border;
}

@mixin wide {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;


}



main {
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    background: #A0BEFE url(../img/bg_portrait.png) no-repeat fixed center;
    min-height: 100vh;
    overflow: hidden;

        @media only screen and (min-width: core.$mobilebreak) {
            background: #A0BEFE url(../img/bg_landscape.png) no-repeat fixed center;
        }

    &.visible {
        display: flex;
        flex-direction: column;
    }
    
    &--intro {
        @extend .content;
        display: none;
    }
}

.inv {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    background: col.$c-bg;
    z-index: 2;


    & > * {
        position: relative;
    }

    & p {
        text-align: center;
    }

    & h1 {
        margin: 5rem 0 0 0;
    }

    & h2 {
        text-align: center;
        margin: 0;
        font-family: f.$f-text;
        color: col.$c-black;
        font-size: 2rem;
    }

    & h3 {
        text-align: center;
        margin: -1ch;
        font-size: 2rem;
    }

    &__location {
        &__map {
            margin-bottom: 1rem;
            position: relative;
            
            & span {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                padding: 0.5rem 1rem;
                background: col.$c-secondary;
                color: col.$c-white;
                opacity: 80%;
            }
        }
    }

    &__form {
        border-left: 0.25rem solid col.$c-secondary;
        margin: 0 -1rem;

        & input:not(.inv__form--radio) {
            border: 0;
            // width: calc(100% + 2rem);
            // margin: 0.5rem -1rem;
            width: 100%;
            margin: 0.1rem 0;
            height: 4rem;
            padding: 0.5rem;
            font-size: 1rem;
            background: linear-gradient(90deg, col.$c-white 30%, rgba(255,255,255,0) 100%);
            color: col.$c-secondary;
            font-family: f.$f-text;

            &:focus {
                background: col.$c-white;
                border: none;
                outline-width: 0;
                outline: none;
            }
        }

        & input:last-of-type {
            margin-bottom: 0;
        }

        & button {
            // width: calc(100% + 2rem);
            // margin: 0.5rem -1rem 0 -1rem;
            margin: 0 0 0 0;
            width: 100%;
            height: 3rem;
            border: 0;
            background: col.$c-secondary;
            color: col.$c-white;
            font-family: f.$f-number;
            font-weight: 600;
            font-size: 1.5rem;
            &:hover {
                background: col.$c-black;
            }
        }

        & .inv__form--radio {
            display: flex;
            align-items: center;
            margin: 0.5rem;

            & input {
                height: 2rem;
                width: 2rem;
                margin: 0 1rem;
                color: black;
            }
        }
    }
}

// mobile version of drawing
.inv > .inv__drawing {
    width: 100%;
    display: flex;
    position: relative;

    & img {
        width: 120%;
        margin-left: -5%;
    }
    @media only screen and (min-width: core.$mobilebreak) {
        display: none;
    }
}

// desktop version of drawing
.content > .inv__drawing {
    display: flex;
    position: fixed;
    right: 0;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);

    & img {
        width: 30vw;
    }
    @media only screen and (max-width: core.$mobilebreak) {
        display: none;
    }
}

.map-pin {
    background: col.$c-bg2;
    @include wide;
    // padding: 0.25rem 1rem;
    position: relative;


    & p {
        padding: 1rem 1rem; 
        margin-right: 3rem;
        text-align: left;

        &::after {
            content:'';
            display: block;
            width: 3rem;
            height: 3rem;
            background: url('../img/mappin.svg') no-repeat;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.stretchlink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.expando {
    background: col.$c-bg;
    @include wide;
    padding: 1rem;
    margin-bottom: 0.25rem;

    

    &__summary {
        // hide the dropdown triangle
        list-style: none;
        &::-webkit-details-marker {
            display:none;
        }
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__all, &__all p {
        text-align: left;
    }
}

.zindexup {
    position: relative;
    z-index: 10;
}

.maxwidth {
    max-width: math.div(core.$pagewidth,2);
    margin: auto;
}