@use '_colour' as col;
@use '_fonts';

@use '_ink-modal';
@use '_animations';
@use '_core' as core;
@use '_logo';
@use '_header';

main {
    min-height: 100vh;
}

.content {
    background: #A0BEFE url(../img/finalframe.png) no-repeat fixed center;
    background-size: 1920px 1080px;
    min-height: 100vh;
    visibility: hidden;


    &.visible {
        visibility: visible;
    }
}

.inv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background: col.$c-bg;
    margin: auto;

    &__content {
        // margin-top: 7rem;
        display:flex;
        flex-direction: column;
        padding: 2rem;
    }

    &__RSVP {
        display:flex;

        &__form, &__text {
            width: 50%;
        }
    }
}

@media only screen and (max-width: core.$mobilebreak) {
    .inv {
        width: 90%;

        &__content {
            // padding: 1rem;
        }
    }
}