@use '_colour' as col;
@use '_core' as core;

$introsize: 100%;

.mjlogo {
    @include core.abscenter();
    
    fill: col.$c-white;
    opacity: 0;
    width: calc($introsize) - 20%;

    animation: fadein 4s;
    animation-fill-mode: forwards;

    animation-name: fadein, colshift, shrink, fadeout;
    animation-duration: 4s, 2s, 1s, 1s;
    animation-delay: 0ms, 4s, 6s, 7s;
    animation-timing-function: ease-in, ease-out, ease-out, ease-in;
    animation-fill-mode: forwards, forwards, forwards, forwards;
    animation-iteration-count: 1, 1, 1, 1;

    z-index:100;
}