@use '_colour' as col;
@use '_fonts';

@use '_ink-modal';
@use '_animations';
@use '_core' as core;
@use '_logo';

.inv {
    display: flex column;
    height: 100%;
    width: 80%;

    opacity: 0;
    background: col.$c-bg;
    
    margin: auto;

    animation: fadein 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;

    &__header {
        display: flex;
        padding: 0 0 0 0;
        background: col.$c-bg;
        width: 100%;
        min-height: 10rem;

        &--logospace {
            width: 16rem;
            // background: red;
            padding-bottom: 15rem;
        }

        &--l, &--r {
            display:flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-family: fonts.$f-accent;
            font-size: 2rem;
            color: col.$c-secondary;
            padding: 1rem;
            opacity: 0.6;

            animation-name: pulse;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        &--r { animation-delay: 300ms }
    }

    &__content {
        // margin-top: 7rem;
        display:flex;
        padding: 2rem;
    }
}

@media only screen and (max-width: core.$mobilebreak) {
    .inv {
        width: 90%;

        &__content {
            padding: 1rem;
        }

        &__header {
            flex-wrap: wrap;
            padding-bottom: 1rem;

            >*{
                width: 100%;
                
            }

            &--logospace {
                order: -1;
                margin-bottom: 1rem;
            }

            &--l, &--r {
                font-size: 1.5rem;
                padding: 0 1rem;
                // background: col.$c-primary;
            }
        }
    }
}