@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Bitter:wght@300;400;500;600&family=Comforter&family=Comforter+Brush&family=Readex+Pro:wght@200;300;400;500&display=swap");
body {
  --c-transparent: hsla(0, 0%, 100%, 0);
  --c-white: hsl(0, 0%, 100%);
  --c-light: hsl(0, 0%, 73%);
  --c-black: hsl(0, 100%, 8%);
  --c-sitebg: rgb(232, 235, 255);
  --c-primary: hsl(221, 100%, 80%);
  --c-secondary: hsl(0, 100%, 23%);
  --c-bg: hsla(0, 0%, 100%, 40%);
  --c-secondaryalpha: hsla(0, 100%, 23%, 20%);
}

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--c-bg);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, p, h1, h2, h3, ul, li {
  color: var(--c-black);
}

.container {
  max-width: 450px;
  width: 100%;
  margin: auto;
}
@media only screen and (min-width: 940px) {
  .container {
    margin-left: 20%;
  }
}

body {
  --c-transparent: hsla(0, 0%, 100%, 0);
  --c-white: hsl(0, 0%, 100%);
  --c-light: hsl(0, 0%, 73%);
  --c-black: hsl(0, 100%, 8%);
  --c-sitebg: rgb(232, 235, 255);
  --c-primary: hsl(221, 100%, 80%);
  --c-secondary: hsl(0, 100%, 23%);
  --c-bg: hsla(0, 0%, 100%, 40%);
  --c-secondaryalpha: hsla(0, 100%, 23%, 20%);
}

html, body, p {
  font-family: "Bitter", serif;
  font-size: 16px;
  font-weight: 400;
}

p, a {
  color: var(--c-black);
}

h1, h2 {
  font-family: "Comforter", cursive;
  font-weight: 600;
  color: var(--c-secondary);
  margin: 1rem 0;
  line-height: 3.5rem;
  text-align: center;
}

h3, h4, h5, h6, .heading {
  font-family: "Comforter", cursive;
  color: var(--c-black);
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.cd-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #A0BEFE url(../img/finalframe.png) no-repeat center center;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-modal .modal-content {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.cd-modal.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s, visibility 0s;
}

.cd-modal.visible .modal-content {
  -webkit-overflow-scrolling: touch;
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  width: 2500%;
}

.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
  -moz-animation: cd-sequence 0.8s steps(24);
  animation: cd-sequence 3s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence {
  0% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes colshift {
  0% {
    fill: var(--c-white);
  }
  100% {
    fill: var(--c-black);
  }
}
@keyframes hide {
  100% {
    display: none;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}
.paintbg {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: paint 5s ease-in-out 5s forwards;
}

.paintbg:nth-of-type(2) {
  animation-delay: 2s;
}

@keyframes paint {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.intro {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 90vh;
  z-index: 10;
}
.intro__logo {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  fill: var(--c-white);
  width: 50%;
  animation-name: colshift, fadeout;
  animation-duration: 2s, 1s;
  animation-fill-mode: forwards, forwards;
  animation-delay: 2s, 5s;
}
.intro__text {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  top: 10%;
  color: var(--c-secondary);
  opacity: 0;
  width: 24ch;
  white-space: nowrap;
  overflow: hidden;
  animation-name: fadein, typing, fadeout;
  animation-duration: 1s, 1s, 1s;
  animation-timing-function: linear, steps(22), linear;
  animation-fill-mode: forwards, forwards, forwards;
  animation-delay: 2s, 2s, 5s;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@media only screen and (max-width: 940px) {
  .intro__text {
    font-size: 5vw;
    top: calc(50% - 35vw);
  }
  .intro__logo {
    width: 90%;
  }
}
.mjlogo {
  fill: var(--c-black);
  width: 20rem;
  margin: auto;
}

header, .header {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
  background: var(--c-bg);
  padding-bottom: 6rem;
  position: relative;
}
header__logo, .header__logo {
  display: flex;
  order: -1;
  width: 100%;
  margin-top: 2rem;
}
header__dateplace, .header__dateplace {
  position: absolute;
  left: 50%;
  transform: translateX(-20%);
  bottom: 0;
}
header__date, .header__date {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: -1rem;
  left: 40%;
  transform: translatex(-50%);
}
header__place, .header__place {
  font-size: 1.2rem;
  position: absolute;
  top: 2.4rem;
  left: 40%;
  transform: translatex(-50%);
}

.bgimg, .bgimg_11, .bgimg_10, .bgimg_9, .bgimg_8, .bgimg_7, .bgimg_6, .bgimg_5, .bgimg_4, .bgimg_3, .bgimg_2, .bgimg_1 {
  position: absolute;
  z-index: 5;
}
.bgimg_1 {
  top: -5rem;
  right: 0;
  width: 10rem;
  transform: rotate(90deg);
}
.bgimg_2 {
  top: -5rem;
  left: -7rem;
  width: 15rem;
  transform: rotate(180deg);
  transform: scaleX(-1);
}
.bgimg_3 {
  width: 20rem;
  right: -5rem;
  top: 10rem;
}
.bgimg_4 {
  width: 20rem;
  left: -10rem;
}
.bgimg_5 {
  height: 20rem;
  top: -2rem;
  right: -4rem;
  transform: scaleX(-1);
}
.bgimg_6 {
  top: 0;
  left: -10rem;
  width: 20rem;
  transform: rotate(-30deg);
}
.bgimg_7 {
  top: 0;
  left: 0;
  height: 40rem;
  transform: rotate(90deg);
}
.bgimg_8 {
  bottom: -18rem;
  left: 0;
  height: 50rem;
  transform: rotate(90deg);
}
.bgimg_9 {
  top: 12rem;
  left: 5rem;
  height: 30rem;
  width: 10rem;
  transform: rotate(90deg);
}
.bgimg_10 {
  bottom: -15rem;
  left: -10rem;
  height: 50rem;
}
.bgimg_11 {
  top: 0;
  right: -10rem;
  height: 50rem;
}

.drawing, .drawing_5, .drawing_4, .drawing_3, .drawing_1 {
  position: absolute;
  z-index: 1;
}
.drawing_1 {
  top: 0;
  left: 10%;
}
.drawing_3 {
  top: 0;
  left: -50%;
}
.drawing_4 {
  top: -10rem;
  right: -3rem;
  transform: rotate(15deg);
}
.drawing_5 {
  bottom: -50%;
  right: 0;
  width: 5rem;
  transform: rotate(90deg);
}

.wider {
  display: flex;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-right: -2rem;
  border: solid 0.25rem var(--c-secondary);
}
@media only screen and (max-width: 450px) {
  .wider {
    border-left: none;
    border-right: none;
  }
}

main {
  min-height: 100vh;
}

.content, .content--intro {
  display: flex;
  flex-direction: column;
  background: #A0BEFE url(../img/bg_portrait.png) no-repeat fixed center;
  min-height: 100vh;
  overflow: hidden;
}
@media only screen and (min-width: 940px) {
  .content, .content--intro {
    background: #A0BEFE url(../img/bg_landscape.png) no-repeat fixed center;
  }
}
.content.visible, .visible.content--intro {
  display: flex;
  flex-direction: column;
}
.content--intro {
  display: none;
}

.inv {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  background: var(--c-bg);
  z-index: 2;
}
.inv > * {
  position: relative;
}
.inv p {
  text-align: center;
}
.inv h1 {
  margin: 5rem 0 0 0;
}
.inv h2 {
  text-align: center;
  margin: 0;
  font-family: "Bitter", serif;
  color: var(--c-black);
  font-size: 2rem;
}
.inv h3 {
  text-align: center;
  margin: -1ch;
  font-size: 2rem;
}
.inv__location__map {
  margin-bottom: 1rem;
  position: relative;
}
.inv__location__map span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background: var(--c-secondary);
  color: var(--c-white);
  opacity: 80%;
}
.inv__form {
  border-left: 0.25rem solid var(--c-secondary);
  margin: 0 -1rem;
}
.inv__form input:not(.inv__form--radio) {
  border: 0;
  width: 100%;
  margin: 0.1rem 0;
  height: 4rem;
  padding: 0.5rem;
  font-size: 1rem;
  background: linear-gradient(90deg, var(--c-white) 30%, rgba(255, 255, 255, 0) 100%);
  color: var(--c-secondary);
  font-family: "Bitter", serif;
}
.inv__form input:not(.inv__form--radio):focus {
  background: var(--c-white);
  border: none;
  outline-width: 0;
  outline: none;
}
.inv__form input:last-of-type {
  margin-bottom: 0;
}
.inv__form button {
  margin: 0 0 0 0;
  width: 100%;
  height: 3rem;
  border: 0;
  background: var(--c-secondary);
  color: var(--c-white);
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.inv__form button:hover {
  background: var(--c-black);
}
.inv__form .inv__form--radio {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.inv__form .inv__form--radio input {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
  color: black;
}

.inv > .inv__drawing {
  width: 100%;
  display: flex;
  position: relative;
}
.inv > .inv__drawing img {
  width: 120%;
  margin-left: -5%;
}
@media only screen and (min-width: 940px) {
  .inv > .inv__drawing {
    display: none;
  }
}

.content > .inv__drawing, .content--intro > .inv__drawing {
  display: flex;
  position: fixed;
  right: 0;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}
.content > .inv__drawing img, .content--intro > .inv__drawing img {
  width: 30vw;
}
@media only screen and (max-width: 940px) {
  .content > .inv__drawing, .content--intro > .inv__drawing {
    display: none;
  }
}

.map-pin {
  background: var(--c-secondaryalpha);
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;
}
.map-pin p {
  padding: 1rem 1rem;
  margin-right: 3rem;
  text-align: left;
}
.map-pin p::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background: url("../img/mappin.svg") no-repeat;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.stretchlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.expando {
  background: var(--c-bg);
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
}
.expando__summary {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.expando__summary::-webkit-details-marker {
  display: none;
}
.expando__all, .expando__all p {
  text-align: left;
}

.zindexup {
  position: relative;
  z-index: 10;
}

.maxwidth {
  max-width: 470px;
  margin: auto;
}

/*# sourceMappingURL=wedding.css.map */
