<header>
    <div class="header__logo">{% include _mj_logo.html %}</div>
    <div class="header__dateplace">
        <img src="{{assets}}img/date_bg.png">
        <div class="header__date">03.09.22</div>
        <div class="header__place">
            {% if en %}
                Bydgoszcz, Poland
            {% endif %}
            {% if pl %}
                Bydgoszcz
            {% endif %}
        </div>
    </div>
    <img class="bgimg_1" src="{{assets}}img/wedgblue/element2.png">
    <img class="bgimg_2" src="{{assets}}img/wedgblue/element11.png">
</header>