<div class="inv">
    
    <div class="inv__content">
        <h1>RSVP</h1>
        <div class="inv__RSVP">
            <div class="inv__RSVP__text">
                <p>We hope that you can join us on this special day. With the challenges of planning an international wedding during a pandemic, we ask that you please R.S.V.P as soon as possible so we can have a good idea of how many people will be attending.</p>
                
                <p>More information is provided below, so please take a look and if you have any questions please just let us know.</p>
            </div>
            <div class="inv__RSVP__form"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdJaWurLSvy8hrBDiBil8FyKiKnQH4MChDwhzUHAse4Dq6gDw/viewform?embedded=true" width="640" height="557" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>.</div>
        </div>

    
    </div>
    
</div>
