<div class="inv">
    <div class="inv__intro">
        <div class="zindexup">
            {% if en %}
                {% include en_intro.md %}
            {% endif %}
            {% if pl %}
                {% include pl_intro.md %}
            {% endif %}
        </div>
    </div>

    {% include drawing.html %}

    <div class="inv__rsvp">
        <img class="bgimg_3" src="../img/white/element6.png">
        <img class="bgimg_4" src="../img/wedgblue/element7.png">
        <div class="zindexup">
            {% if en %}
                {% include en_rsvp.md %}
            {% endif %}
            {% if pl %}
                {% include pl_rsvp.md %}
            {% endif %}
        </div>
    </div>
    
    <div class="inv__location">
        <img class="bgimg_6" src="../img/white/element11.png">
        <div class="zindexup">
            {% if en %}
                {% include en_location.md %}
            {% endif %}
            {% if pl %}
                {% include pl_location.md %}
            {% endif %}
        </div>
    </div>

    <div class="inv__church">
        <img class="bgimg_7" src="../img/white/element1.png">
        <img class="bgimg_5" src="../img/wedgblue/element2.png">
        <img class="bgimg_8" src="../img/wedgblue/element2.png">
        <div class="zindexup">
            {% if en %}
                {% include en_church.md %}
            {% endif %}
            {% if pl %}
                {% include pl_church.md %}
            {% endif %}
        </div>
    </div>

    <div class="inv__party">
    <img class="bgimg_9" src="../img/wedgblue/element2.png">
    <img class="bgimg_10" src="../img/white/element9.png">
    <img class="bgimg_11" src="../img/white/element15.png">
        <div class="zindexup">
            {% if en %}
                {% include en_party.md %}
            {% endif %}
            {% if pl %}
                {% include pl_party.md %}
            {% endif %}
        </div>
    </div>

    <div class="inv__plan">
    <img class="bgimg_7" src="../img/white/element1.png">
        <img class="bgimg_5" src="../img/wedgblue/element2.png">
        <img class="bgimg_8" src="../img/wedgblue/element2.png">
    <img class="bgimg_11" src="../img/white/element15.png">

        <div class="zindexup">
            {% if en %}
                {% include en_plan.md %}
            {% endif %}
            {% if pl %}
                {% include pl_plan.md %}
            {% endif %}
        </div>
    </div>
</div>
