<div class="inv">
    <div class="inv__intro">
        {% if en %}
            {% include en_intro.md %}
        {% endif %}
        {% if pl %}
            {% include pl_intro.md %}
        {% endif %}
    </div>

    <div class="inv__drawing" style="position: relative;">
        <img class="bgimg_3" src="../img/wedgblue/element6.png">
        <img class="bgimg_5" src="../img/wedgblue/element11.png">
        <img class="bgimg_4" src="../img/white/element12.png">
        <img class="bgimg" src="../img/smudge1.png" style="top: 0; left: 10%;">

        <img src="../img/drawing_export.svg" style="position: relative;">
    </div>

    <div class="inv__rsvp">
        {% if en %}
            {% include en_rsvp.md %}
        {% endif %}
        {% if pl %}
            {% include pl_rsvp.md %}
        {% endif %}
    </div>
    
    <div class="inv__location">
        <img class="bgimg_6" src="../img/white/element11.png">
        <img class="bgimg_7" src="../img/white/element1.png">
        <div class="zindexup">
            {% if en %}
                {% include en_location.md %}
            {% endif %}
            {% if pl %}
                {% include pl_location.md %}
            {% endif %}
        </div>
    </div>

    <div class="inv__plan">
        <div class="zindexup">
            {% if en %}
                {% include en_plan.md %}
            {% endif %}
            {% if pl %}
                {% include pl_plan.md %}
            {% endif %}
        </div>
    </div>
</div>
