<div id="loader_splash" class="spinner__bg">
    <div class="spinner">
        <div class="circle">
            <div class="inner"></div>
        </div>
        <div class="circle">
            <div class="inner"></div>
        </div>
        <div class="circle">
            <div class="inner"></div>
        </div>
        <div class="circle">
            <div class="inner"></div>
        </div>
        <div class="circle">
            <div class="inner"></div>
        </div>
    </div>
</div>


<div id="loader">You can't see this</div>

<script src="{{assets}}js/preload.js"></script>
