<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03 09 22</title>
    <link rel="stylesheet" type="text/css" href="{{ assets }}css/wedding.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {# <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Bitter:wght@300;400;500;600&family=Comforter&family=Comforter+Brush&family=Readex+Pro:wght@200;300;400;500&display=swap" rel="preload" as="style" crossorigin>  #}
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Bitter:wght@300;400;500;600&family=Comforter&family=Comforter+Brush&family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet" crossorigin> 
    <link rel="shortcut icon" type="image/jpg" href="{{ assets }}img/dancing.svg"/>
    <link rel="stylesheet" type="text/css" href="{{ assets }}js/gallery.css">
</head>
<body>
    <main>
    {{ content | safe }}
    {% include "_scripts.html" %}

    </main>
    <script src="{{ assets }}js/jquery.js"></script>
    <script src="{{ assets }}js/lightgallery.umd.js"></script>
    <script src="{{ assets }}js/lg-thumbnail.umd.js"></script>
    <script src="{{ assets }}js/lg-zoom.umd.js"></script>
    <script src="{{ assets }}js/lg-share.umd.js"></script>
    <script type="text/javascript">
        lightGallery(document.getElementById('album'), {
            plugins: [lgZoom, lgThumbnail, lgShare],
            licenseKey: '0000-0000-000-0000',
            speed: 500,
            exThumbImage: 'data-thumbs'
        });
    </script>
</body>
</html>