---
layout: Master
---


 <!-- .cd-main-content -->

<div class="cd-modal">
	<div class="modal-content">
		
	</div> <!-- .modal-content -->
</div> <!-- .cd-modal -->

<div class="cd-transition-layer"> 
	<div class="bg-layer"></div>
</div> <!-- .cd-transition-layer -->

<main class="cd-main-content">
	{% include '_mj_logo.html' %}
    {% include "_invitation.html" %}
</main>