---
layout: Master
---
{% include "_loader.html" %}
<noscript><div class="noscript">Sorry, your browser does not support javascript so this site will not display correctly.<br>Please choose your language:<br><br><a href="en/">English</a><br><br><a href="en/">Polski</a></div></noscript>

<div id="cssintro" class="cssintro">
    {% include "_mj_logo.html" %}
    {% include "_flags.html" %}
<div>

<script src="{{assets}}js/intro.js"></script>
<script>
document.addEventListener("readystatechange", function() {
    var introLength = 4000;
    if (document.readyState === "complete") {
        loading.complete();
        addPaint(introLength);
        setTimeout(function () {
            checkLanguage()
        }, introLength*2);
    }
});
</script>
