---
layout: Master
css: css/wedding.css

---

<div class="spinner">
    <div class="circle">
        <div class="inner"></div>
    </div>
    <div class="circle">
        <div class="inner"></div>
    </div>
    <div class="circle">
        <div class="inner"></div>
    </div>
    <div class="circle">
        <div class="inner"></div>
    </div>
    <div class="circle">
        <div class="inner"></div>
    </div>
</div>

<div id="cssintro" class="cssintro">
    {% include "_mj_logo.html" %}
    <div class="flags">
        <a href="pl/">
            <div class="flags__container">
                <img src="img/pl.svg" class="flags__pl" >
            </div>
        </a>

        <a href="en/">
            <div class="flags__container">
                <img src="img/uk.svg" class="flags__en">
            </div>
        </a>
    </div>
<div>

<script src="js/intro.js"></script>
<!--<script src="js/langSelect.js"></script>-->
